:root {
    --brand-color: #F65282;
    --footer-bg: #282323;
    --nav-bg: #202020;
    --content-bg: #1B1B1B;


}


body {
    /* padding: 20px; */
    background: var(--content-bg);
    color: #ffffff;
    font-family: 'Roboto', sans-serif;
}

h1 {
    text-align: center;
    font-size: 30px;
    font-weight: 700;
    line-height: 84px;
    text-transform: uppercase;
    letter-spacing: 10px;
}

h2{
    font-size: 24px;
    font-weight: 700;
    line-height: 28px;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 10px;
}

h3 {
    color: var(--brand-color);
    font-size: 18px;
    line-height: 21px;
    letter-spacing: 1px;
    font-weight: 700;
    text-transform: uppercase;
}

video{
    color: #ffffff;
}


.logo {
    width: 100px;
}

.banner {
    padding: 200px 0;
    background-image: url("/images/bg.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    text-align: center;
    margin-bottom: 70px;

}

.banner-text {
    margin: 0 auto;
    margin-bottom: 30px;
    font-size: 18px;
    line-height: 30px;
    font-weight: 400;

}

.button {

    background: #ffffff;
    border-radius: 50px;
    padding: 18px 30px;
    color: #272142;
    text-transform: uppercase;
    text-decoration: none;
    white-space: nowrap;
    font-size: 14px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    line-height: 17px;
    letter-spacing: 10px;
}

.button:hover {
    background: crimson;
    color: #ffffff;

}



.row-photos {
    justify-content: space-evenly;
}

.image-wrapper {
    padding: 15px;
}

.image-wrapper img {
    width: 100%;
    margin-bottom: 20px;
}

.footer {
    padding: 20px 70px;
    background: var(--footer-bg);
    text-align: center;
    justify-content: center;




}

.footer p {
    font-size: 12px;


}

.social-networks {
    margin-top: 20px;
    display: flex;
    justify-content: space-evenly;
    list-style: none;
    text-align: center;


}

.social-networks li a {
    margin-right: 50px;
    color: #ffffff;
    font-size: 30px;
    transition: all 0.5s ease-in-out;

}

.social-networks li a:hover {
    color: var(--brand-color);

}

.about-content {
    display: flex;
    
}

.about-image img {
    max-width: 700px;
    height: 600px;

}
.about-descr{
    padding: 20px;

    &.social-networks{
        font-size: 18px;
    }
}

.about-descr p {
    font-size: 18px;
    line-height: 30px;
    font-weight: 400;
    
}

.camera-wrapper {
    display: flex;
    justify-content: space-around;
    background: #2D2727;
    padding: 20px 30px;
    margin-bottom: 50px;

}

.camera-wrapper img {
    max-width: 50px;
    height: auto;
}

.contact-button {
    background: #ffffff;
    color: #272142;
    padding: 18px 25px;
    text-decoration: none;
    border-radius: 50px;
}

.all-contacts{
    list-style: none;
    text-align: center;
    margin-top: 100px;
}

.all-contacts li{
    margin-bottom: 70px;
}

.all-contacts i {
    margin-right: 10px;
}

.all-contacts a{
    text-decoration: none;
    color: #ffffff;
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;

}
.contact-type{
    text-transform: uppercase;
    color:var(--brand-color);
    font-size: 14px;
    letter-spacing: 10px;
    font-weight: 700;
    line-height: 16px;
}


@media(min-width: 575px) {
    h1{
        font-size: 52px;
    }
    .image-wrapper {
        text-align: center;
    }

    .logo {
        width: 140px;
    }

    .footer {
        display: flex;
        justify-content: space-between;
    }
}

@media (min-width: 985px) {
    h1{
        font-size: 72px;
    }
    .row-photos {
        justify-content: space-between;
    }

}